<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>
    {% include 'header.njk' %}
    <main>
    {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    
<script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
</script>
</body>
</html>